.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  left: -1000%;
  &--open {
   left: 0;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 28px 0;
    width: 328px;
    background: #FFFFFF;
    height: 100vh;
  }

  &__logo {
    width: 180px;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 22px;
  }
  &__socials {
    margin-top: 128px;
    display: flex;
    grid-gap: 26px;
  }
  &__social {
    width: 34px;
    height: 34px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    &-logo {
      width: 17px;
      height: 17px;
    }
  }
  &__close {
    right: -25px;
    top: 26px;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 18px;
    background: #FFFFFF;
    border-radius: 100%;
    cursor: pointer;
  }
}