.date {
  max-width: 208px;
  width: 100%;
  &__text, &__time {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__time {
    color: #4F4F4F;
    font-weight: 300;
  }
}