@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
@import "/src/components/scss/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #090F3F;
  @include respond-to($tablet) {
    font-size: 12px;
  }
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #090F3F;
  @include respond-to($tablet) {
    font-size: 30px;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container, .container-sm {
  max-width: 1354px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.container-sm {
  max-width: 1130px;
  @include respond-to($x-small) {
    padding: 0 20px;
  }
}


